<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375946640576-bcoc1nonnurepmvq6ebnm0smfhnao0ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375946640576-bcoc1nonnurepmvq6ebnm0smfhnao0ol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>375946640576-74m0j4ml0ptnodufmf61ch1sh8fc05pr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBM4MzNnFTD7aVidywmLOIQdc5qdnNF0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>375946640576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaara.parents</string>
	<key>PROJECT_ID</key>
	<string>vaara-ai-parents</string>
	<key>STORAGE_BUCKET</key>
	<string>vaara-ai-parents.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375946640576:ios:e8f7db778475e36e7fc125</string>
</dict>
</plist>
